<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FoodGoodMobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMonoBold.ttf</string>
		<string>JetBrainsMonoBoldItalic.ttf</string>
		<string>JetBrainsMonoExtraBold.ttf</string>
		<string>JetBrainsMonoExtraBoldItalic.ttf</string>
		<string>JetBrainsMonoExtraLight.ttf</string>
		<string>JetBrainsMonoExtraLightItalic.ttf</string>
		<string>JetBrainsMonoItalic.ttf</string>
		<string>JetBrainsMonoLight.ttf</string>
		<string>JetBrainsMonoLightItalic.ttf</string>
		<string>JetBrainsMonoMedium.ttf</string>
		<string>JetBrainsMonoMediumItalic.ttf</string>
		<string>JetBrainsMonoRegular.ttf</string>
		<string>JetBrainsMonoSemiBold.ttf</string>
		<string>JetBrainsMonoSemiBoldItalic.ttf</string>
		<string>JetBrainsMonoThin.ttf</string>
		<string>JetBrainsMonoThinItalic.ttf</string>
	</array>
</dict>
</plist>
